<!--copied from parties-form.component.html -->
<!--<br>UTD START=====================================<br>-->
<!--<utds-formx>-->

<span>{{ utdstatus}}</span>
<button type="button" (click)="testhbk('hi mom sent  ')">testhbk</button> hbkemail{{hbkemail}}hbkemail

<!--<form [formGroup]="addForm" (ngSubmit)="doUtd(); upload.reset()">-->
<form [formGroup]="addForm" (ngSubmit)="doUtd()">
    <span class="checkbox">
        <md-checkbox formControlName="public">Public</md-checkbox>
    </span>
    <md-input formControlName="name2" placeholder="Enter UsToDo"></md-input>
    <button md-raised-button type="submit">Add3</button>
</form>

<!--<br>UTD END<br>-->

<!--</utds-formx>-->