<div flex layout="row" class="div ma-parties-list">
  <div layout="row" flex>
    <div flex="50">
      <div>
        <div class="div new-party-form-container">
          <md-toolbar>
            <div class="md-toolbar-tools">


              <h3>Create a new utdx!</h3>


            </div>
          </md-toolbar>
            hbkeak1
          <!--<utds-formx></utds-formx>-->
            hbkeak2

          <utds-formx [hidden]="!user"></utds-formx>
          <div [hidden]="user">You need to login to create new utds!</div>
        </div>


        <div layout-padding layout="row">
          <md-input #searchtext placeholder="Search by Location"></md-input>
              <button md-raised-button (click)="search(searchtext.value)">Search</button>
        </div>
        <div layout-padding layout="row">
          Sort by name:
          <select class="form-control" #sort (change)="changeSortOrder(sort.value)">
            <option value="1" selected>Ascending</option>
            <option value="-1">Descending</option>
          </select>
        </div>

        <div class="div md-padding" style="padding-top:0;">
          <pagination-controls (pageChange)="onPageChanged($event)"></pagination-controls>
          <div *ngFor="let utd of utds | async">
            <md-card>
              <md-card-content>
                <img *ngIf="utd.images" class="party-main-image" [src]="utd | displayMainImage">
                <h2 class="md-title ma-name">
                  <a [routerLink]="['/utd', utd._id]">{{utd.namex}}</a>
                </h2>
                <p class="ma-description" style="padding:0 10px;margin-bottom:35px;margin-top: 6px;">
                  {{utd.namex}}
                </p>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>